@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

.dropdown-menu{
  color:#000000;
}

body {
    font-family: 'Poppins', sans-serif; !important;
}

#navbarDropdown1{
    background-color: rgba(240, 255, 255, 0.089);
}



.navbar__container {
    background: #1A286D;
    color: whitesmoke ;
}
@media only screen and (min-width:992px){
.navbar__container {

    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 10px 250px;
}
.navbar-brand.second{
    display: none !important;
    color: whitesmoke;
}
#navbarNav ul li{
    padding: 0 25px;
}
#navbarNav {
    padding-left: 50px;
}
  .navbar__container {
    height:80px;
  }
}
@media only screen and (max-width:991px){
    .hide-on-small{
        display: none;
    }

a.nav-link {
        padding-top: 20px;
        text-align: center;
    }}

#particle {
  background-image: url("https://imgur.com/a/W74R8rR");
  margin-top: 20px;
min-height: 15em;  
height: 930px;
align-self: center;
background-repeat: no-repeat;
background-size: contain;
margin-bottom: 30px;
}

@media all and (max-width: 600px){
  #particle {
  

height: 300px;

}  
}

@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

/*Gradient border*/

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 50px;
  font-family: 'Raleway';
  font-size: 2.5rem;
}
.gradient-border {
  --borderWidth: 3px;
  background: #ffffff;
  position: relative;
  border-radius: var(--borderWidth);
  
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.container-md h1{
    font-family: 'Pathway Gothic One', sans-serif;
    padding-top: 50PX;
    line-height: 40PX;
color: #1A286D;
}


.container-md h2{
    font-family: 'Pathway Gothic One', sans-serif;
    padding-top: 10PX;
    color: #1A286D;
    font-weight: bold;
    line-height: 60PX;
}
.container-md p{
    padding: 10px 15px 10px 15px; 

}

@media all and (max-width: 600px) {
    .container-md h2{
    font-family: 'Pathway Gothic One', sans-serif;
    padding-top: 10PX;
    font-size: 20px;
    color: #1A286D;
    font-weight: bold;
    line-height: 60PX;
}
}

.hr-theme-slash-2 {
  display: flex;
  
  .hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid #000;
  }
  .hr-icon {
    position: relative;
    top: 1px;
    color: #ff0000;
  }
}

.front, .back {
  width:100%;
  min-height:300px;
  display: table;
}

.front h3, .back p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #1A286D;
  font-family: 'Poppins', sans-serif; !important;

}

.fast {
  animation-duration: .5s;
}

.panel1{
    
    font-size: 30px;
    color: #1A286D;
}

.useractions{
    padding-left: 20px;
   
}
.card-header{
    color: #ffffff;
    
    font-size: 20px;
    
}

.col-md-1{
  margin: 30px;
  

}

#arrow{
  padding-top: 50px;
}

#card {
  width: 300px;
  box-sizing: border-box;
  padding: 2em;
  font-family: Ubuntu;
  border-radius: 25px;
  color: white;
  line-height: 25px;
  box-shadow: 5px 5px 10px rgb(105, 101, 101);
  
  
}



.card.green {
  background: linear-gradient(110deg, #19286D, #9CB5E1 100%);
  margin: 30px;
  box-shadow: 5px 5px 10px rgb(105, 101, 101);
 
}

#about h2{
color; #ffffff;

}


/*Proto persona*/

.container1{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 105px;
  margin-right: 105px;
  align-items: center;
  justify-content: center;
  justify-self: center;
}



@media all and (max-width: 600px){
  .container1{
  margin:10px 35px 10px 35px;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
.container1 img{
  width: 300px;
}
}

.modal {
z-index:1;
display:none;
padding-top:10px;
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
overflow:auto;
background-color:rgb(0,0,0);
background-color:rgba(0,0,0,0.8)
}

.modal-content{
margin: auto;
display: block;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.modal-hover-opacity {
opacity:1;
filter:alpha(opacity=100);
-webkit-backface-visibility:hidden
}

.modal-hover-opacity:hover {
opacity:0.60;
filter:alpha(opacity=60);
-webkit-backface-visibility:hidden
}


.close {
text-decoration:none;float:right;font-size:24px;font-weight:bold;color:white
}
.container1 {
width:200px;
display:inline-block;
}
.modal-content, #caption {   
  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

    
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.button, .card-text, card-title{
  font-family: 'Open Sans', sans-serif;
}
.container{
  padding: 30px;
}

/*Userresearch*/

#review{
  width: 15rem;
  height: 8rem;
  border-top-right-radius: 10px 10px;
  border-top-left-radius: 50px 50px;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 50px 50px;
  box-shadow: 2px 2px 15px 2px #ccc;
  background: linear-gradient(90deg, #19286D, #9CB5E1 100%);
  border-color: #1A286D;
  margin-left: 32px;
  margin-right: 10px;
  color: #ffffff;
}

#usability{
  background-image: url("/Images/Canadian\ Space\ Agency\ -\ CANVA\ .png");
  margin-top: 20px;
height: 850px;
width: 100%;
align-self: center;
background-repeat: no-repeat;
background-size: contain;
justify-content: center;
justify-self: center;
justify-items: center;

}

@media all and (max-width: 600px) {
  #usability{
height: 250px;}
  }

#cardsort{
  background-image: url("/Images/Cardsort.png");
  margin-top: 20px;
height: 200px;
width: 100%;
align-self: center;
background-repeat: no-repeat;
background-size: contain;
justify-content: center;
justify-self: center;
justify-items: center;

}

#infoarch{
  background-image: url("/Images/infoarch\ .png");
  margin-top: 20px;
  height: 200px;
width: 100%;
align-self: center;
background-repeat: no-repeat;
background-size: contain;
justify-content: center;
justify-self: center;
justify-items: center;

}
.modal-hover-opacity{
  box-shadow: 5px 5px 10px rgb(105, 101, 101);
}

#wireframe{
  background-image: url("/Images/Wireframe.png");
  margin-top: 20px;
  height: 900px;
width: 100%;
align-self: center;
background-repeat: no-repeat;
background-size: cover;
justify-content: center;
justify-self: center;
justify-items: center;

}
@media all and (max-width: 600px) {
  #wireframe{
height: 200px;
}
  }

  #prototype1{
    margin-left: 270px;
  margin-right: 200px ;
  }

  @media all and (max-width: 600px) {
    #prototype1{
    margin-left: 20px;
  }
}

#myVideo {
  margin-left: 250px;
  bottom: 0;
  max-width: 900px;
  max-height: 900px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background:#1A286D;
  color: #fff;
  cursor: pointer;
  margin-left: 600px;
}